/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box
}
.m {
    /* Don't cut off dropdowns! 
    overflow: initial;*/
    overflow: hidden;
}

/* Add your styles here */

/* Navbar Bottom */
.m nav {
    background-color: #3399cc;
    min-height: 48px;
}
.m .btn.disabled, .m .btn-small.disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
}
.m .btn-save, .m .btn-save-close, .m .btn-cancel {
    background-color: #e0e0e0;
    color: #000000;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
}
.m .btn-save:hover, .m .btn-save-close:hover, .m .btn-cancel:hover {
    background-color: #e0e0e0!important;
    filter: brightness(105%);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* Help Buttons */
.m .btn-floating i.material-icons, .m.react-blue .btn-floating i.material-icons, .m.react-dark .btn-floating i.material-icons {
    color: rgba(0, 0, 0, 0.87)!important;
    background-color: rgb(224, 224, 224)!important;
    line-height: 36px;
}
.m .btn-floating i.material-icons:hover {
    background-color: #e0e0e0!important;
    filter: brightness(105%);
}
.m .btn-floating {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    height: 36px!important;
    width: 36px!important;
}
.m .btn-floating:hover {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.donateButton {
    padding-right: 0.3rem;
    margin-top: -0.15rem;
 }